                                                              BAŞLAYALIM

In [1]:
import psycopg2

In [2]:
conn = psycopg2.connect(host="localhost", dbname="postgres", user="postgres", password="admin123", port=5432)
cur = conn.cursor()

Nasıl bir tablo oluşturulur

In [7]:
cur.execute("""CREATE TABLE IF NOT EXISTS person(
        id SERIAL PRIMARY KEY,
        name VARCHAR(255),
        age INT,
        gender CHAR
    )""")
conn.commit()

PRIMARY KEY`IN STARTING INDEX(SAYISINI) DEĞİŞTİRME 6 TANE ROW VAR BIRINI SILDIN AUTOMATIC ARTIŞA TEKRARDAN 5`DEN BAŞLAMASINI ISTIYORSUNN O ZAMAN RESTART WITH 5 DIYECEKSIN

In [11]:
cur.execute("""
SELECT column_name, column_default
FROM information_schema.columns
WHERE table_name = 'person' AND column_name = 'id';
ALTER SEQUENCE person_id_seq RESTART WITH 2;            
""")
conn.commit()

                                                           TABLE`A SATIR EKLEME IŞLEMI

In [13]:
try:
    cur.execute("""
        INSERT INTO person (name, age, gender) VALUES ('Alperen Çıracı', 15, 'e'), ('Ahmet Bilgehan Çıracı', 50, 'e'), ('Şaduman Çıracı', 40, 'e')
    """)
    conn.commit()
except Exception as e:
    print(f"Error: {e}")
    conn.rollback()

Burada bağlantıyı kapatıyoruz

In [ ]:
cur.close()
conn.close()